# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp
*.bak

# Audio / large data (optional, if you keep datasets outside repo)
*.wav
*.flac
*.mp3
